body {
  background-color: white;
  color: #303030;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 20px;
}

main {
  background-color: #f0f0f0;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 5px 5px 12px #c2bfbf;
}

ol {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li:nth-child(odd) {
  background-color: #e3e3e3;
  border-radius: 6px;
}
form {
  background-color: lightsteelblue;
  border-radius: 6px;
  margin: 0;
  padding: 10px;
}

button {
  background-color: rgb(119, 133, 163);
  border: none;
  border-radius: 6px;
  width: 80px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  box-shadow: 5px 5px 6px #2d2b2b;
}

input {
  height: 30px;
  border: none;
  border-radius: 6px;

}
